/*Imports de las Fonts usadas*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Matemasie&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cutive+Mono&family=Matemasie&family=Permanent+Marker&display=swap');


/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
}

/* Declaracion de variables */

:root{
    --primary-color: #000000;
    --secundary-color:#ffff;
    --backgraund-secundary-color:#ffffff66;
    --backgraund-color: #758694; 
    --color-header: #405D72;
    --color-hoover:#179BAE;
    --color-footer:#F7E7DC;
    --font-principal:"Permanent Marker", cursive;
    --font-secundary:"Cutive Mono", monospace;
}

html, body {
    overflow-x: hidden; 
}

/* Estilos generales del body */
body {   
    height: 100vh;
    background-color: var(--backgraund-color);
}

/* Estilos del header */
header {
    display: flex;
    align-items: center; 
    padding: 10px 20px; 
    background-color: var(--color-header);
    width: 100%;
}

header img {
    margin-right: 20px; 
    margin-left: 20px; 
    height: 50px; 
}

header h1 {
    font-family: var(--font-principal);
    flex: 1; 
    text-align: center; 
    font-size: 24px; 
    color: var(--secundary-color);
}

/* Estilos para el contenedor principal y los elementos internos */
.principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px; /* Añadido para evitar espacios grandes */
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensaje {
    background-color: var(--backgraund-secundary-color);
    width: 400px;
    resize: none;
    margin: 20px 80px;
    border-radius: 32px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 6px var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.mensaje img {
    max-width: 100%; 
    height: auto;
}
.mensaje p {
    text-align: center;
    max-width: 100%; 
    height: auto;
    font-family: var(--font-secundary);
    margin: 0;
    padding: 0;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}


.aviso {
    display: flex;
    flex-direction: column;
}

.aviso1, .aviso2 {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
    gap: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.boton1, .boton2 {
    border: none;
    padding: 16px 32px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.boton1 {
    background-color: var(--backgraund-color);
    color: black;
}

.boton1:hover {
    background-color: var(--color-hoover);
    color: white;
}

.boton2 {
    background-color: var(--backgraund-color);
    color: black;
}

.boton2:hover {
    background-color: var(--color-hoover);
    color: var();
}

.texto {
    background-color: var(--backgraund-secundary-color);
    padding: 33px;
    width: 420px;
    height: 340px;
    resize: none;
    margin: 50px 0 5px 0;
    border-radius: 32px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 6px var(--primary-color);
    font-size: 1.25rem;
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-footer); 
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

#github, #linkedin {
    height: 30px;
    width: 30px;
}

.salida {
    background-color: var(--backgraund-secundary-color);
    padding: 20px;
    width: 300px;
    height: 27rem;
    resize: none;
    border-radius: 32px;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: var(--primary-color);
    box-shadow: 1px 1px 6px var(--primary-color);
    margin: 0 auto; /* Centrar horizontalmente */
}

.encriptar {
    margin: 20px;
    width: 400px;
    display: flex;
}

.encriptar, .afuera {
    display: flex;
    flex-direction: column;
}

.copiar {
    background-color: #758694;
    border: 2px solid black;
    border-radius: 24px;
    font-size: 1.25rem;
    width: 300px;
    height: 40px;
    color: black;
    text-align: center;
    margin: 20px auto; /* Centrar horizontalmente */
    cursor: pointer;
}

.copiar:hover {
    background-color: #179BAE;
    color: white;
}

/* Elimina el subrayado de los enlaces */
a {
    text-decoration: none;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
    .mensaje, .encriptar {
        width: calc(100vw - 40px);
        margin: 10px auto; 
    }
     .texto{
        margin:10 auto;
        width: 90%;
    }
    .salida {
        margin: 0 auto;
        width: 90%;
    }
    .botones {
        flex-direction: column;
    }

    .boton1, .boton2 {
        width: 100%;
    }

    .copiar {
        width: calc(100vw - 60px);
        margin: 10px auto;
    }
}
